@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
#__next {
  width: 100vw;
  min-height: 100dvh;
  overflow-x: hidden;
}

.h-dscreen {
  height: 100dvh;
}

.min-h-dscreen {
  min-height: 100dvh;
}

.max-h-dscreen {
  max-height: 100dvh;
}
